FLASK_SECRET_KEY=CHANGE_ME
DATABASE_URL=sqlite:///equlink.db
ELECTRICITY_TARIFF=1444.70
WATER_TARIFF_PER_LITER=0
WATER_TARIFF_PER_SECOND=37.5
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
GEMINI_MODEL=gemini-3.8-flash
MQTT_HOST=YOUR_EMQX_HOST
MQTT_PORT=8883
MQTT_USERNAME=YOUR_MQTT_USERNAME
MQTT_PASSWORD=YOUR_MQTT_PASSWORD
MQTT_TLS=true

#password supabase ligaalta122456#postgresql://postgres.qldsuwcrakmqfjvqyaqy:[ligaalta122456]@aws-0-ap-south-1.pooler.supabase.com:6543/postgres
